@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  font-family: "Inter", sans-serif;;
  font-size: 16px;
  line-height: 1.166;
  color: #656464;
  @media (max-width: 1920px) {
    font-size: calc((100vw - 1024px)/(1920 - 1024) * (16 - 12) + 12px);
  }
  @media (max-width: 1024px) {
    font-size: 12px;
  }
}


._container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 135px;
  @media (max-width: 1200px) {
    padding: 0 75px;
  }
}

._flex {
  display: flex;
  &._fd-col {
    flex-direction: column;
  }
  &._ai-c {
    align-items: center;
  }
  &._jc-sb {
    justify-content: space-between;
  }
  &._gap-x-8 {
    column-gap: 8px;
  }
  &._gap-x-16 {
    column-gap: 16px;
  }
  &._gap-x-24 {
    column-gap: 24px;
  }
  &._gap-x-32 {
    column-gap: 32px;
  }
  &._gap-x-48 {
    column-gap: 48px;
  }
  &._gap-x-96 {
    column-gap: 96px;
  }
  &._gap-y-32 {
    row-gap: 32px;
  }
}

._image {
  img {
    width: 100%;
    object-fit: contain;
  }
}

._button-1,
._button-2 {
  padding: 16px 48px;
  border-radius: 14px;
}
._button-1 {
  background-color: #217bf4;
  color: #fff;
  border: 1px solid transparent;
}
._button-2 {
  background-color: #fff;
  color: #217bf4;
  border: 1px solid #217bf4;
}

._title-1,
._title-2 {
  font-weight: 700;
}
._title-1 {
  font-size: 3.5rem;
}
._title-2 {
  font-size: 2.25rem;
}
._title-3 {
  font-size: 1.25rem;
  font-weight: 500;
}